.navbar-nav {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: right;
  color: #af5055;
  }
  
  .navbar-title {
  color: #af5055;
  }

  .navbar-title:hover {
    color:#f1c40f;
  }
  
  .bg-ecf0f1 {
  background-color: #ecf0f1;
  opacity: 75%;
  }

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #f1c40f;
    margin-top: 20px;
    text-shadow: 4px 4px #2c3e50;
  }
  
  body {
    font-family: 'Chakra Petch', sans-serif;
    background-image: url(../images/orangesky.jpg)
  }

  h4 {
    font-weight: bolder;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .form-group label {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .form-control {
    background-color: #ecf0f1;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #2c3e50;
    margin-bottom: 20px;
  }
  
  #search-button {
    background-color: #f1c40f;
    color: #2c3e50;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #search-button:hover {
    background-color: #cd5646;
  }
  
  #current-weather {
    margin-top: 40px;
    border: 5px solid #f1c40f;
    border-radius: 10px;
    padding: 20px;
    background-color: #ecf0f1;
    box-shadow: 5px 5px #2c3e50;
  }
  
  #current-weather h2 {
    margin-top: 0;
    font-size: 48px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    text-decoration: underline;
  }
  
  #current-icon {
    width: 100px;
    height: 100px;
  }
  
  #current-temperature {
    font-size: 42px;
    font-weight: bold;
    color: #2c3e50;
    text-shadow: 2px 2px #f1c40f;
  }
  
  #current-humidity,
  #current-date,
  #current-wind-speed {
    font-size: 24px;
    color: #2c3e50;
  }
  
  #forecast {
    min-height: 650px;
    margin-top: 40px;
    border: 5px solid #f1c40f;
    border-radius: 10px;
    padding: 20px;
    background-color: #ecf0f1;
    box-shadow: 5px 5px #2c3e50;
  }
  
  #forecast h2 {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: #2c3e50;
    text-align: center;
  }
  
  #forecast-list {
    list-style: none;
    margin: 0;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
  }
  
  #forecast-list li {
    display: inline-block;
    margin-right: 30px;
    padding: 5px 0;
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    justify-content: space-evenly;
  }
  
  #search-history {
    margin-top: 40px;
    border: 5px solid #f1c40f;
    padding: 10px;
    background-color: #ecf0f1;
    box-shadow: 5px 5px #2c3e50;
    border-radius: 10px;
  }
  
  #search-history h2 {
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    color: #2c3e50;
  }
  
  #search-history-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #search-history-list li {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ecf0f1;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    opacity: 75%;
  }  

  .footer a {
    color: #af5055;
  }

  .footer a:hover {
    color:#f1c40f;
  }

  .hide-div {
    display: none;
  }
  